{% extends 'game/base.html.twig' %}

{% block status %}
    Game over,
    {% if game.getWinner() %}
        {% set winner = game.getWinner() %}
        Winner is :
        <div class="badge {{ game.getPlayerColor(winner) }}"></div>
        {{ winner.getNickname() }}
    {% else %}
        Draw
    {% endif %}
{% endblock %}

{% block game %}
    {{ include('board/board.html.twig', { 'game': game, 'disabled': true }) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .winner {
            display: inline-block;
        }

    </style>
{% endblock %}
