{% extends 'game/board.html.twig' %}

{% block status %}
    Game over,
    {% if game.getWinner() %}
        {% set winner = game.getWinner() %}
        Winner is :
        <div class="badge {{ game.getPlayerColor(winner) }}"></div>
        {{ winner.getNickname() }}
    {% else %}
        Draw
    {% endif %}
{% endblock %}

{% block game %}
    {% set disabled = true %}
    {{ parent() }}
{% endblock %}
