#game-container {
    float: left;
    margin: 0 20px;
}

#status {
    margin: 0 0 10px;
}

.flash-notice {
    background-color: orange;
}

.badge {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.badge.yellow {
    background-color: yellow;
}

.badge.red {
    background-color: red;
}

.now-playing {
    font-weight: bold;
}

#controls-container {
    margin: 0 10px 10px;
}

#controls-container form {
    display: inline-block;
    margin: 2px;
    box-sizing: border-box;
}

#controls-container button {
    height: 40px;
    width: 40px;
}

.winner {
    display: inline-block;
}

#board {
    background-color: blue;
    padding: 10px;
}

#board.disabled {
    opacity: 0.2;
}

.column {
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    margin: 2px;
}

.cell {
    height: 40px;
    width: 40px;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    box-shadow: inset 4px 1px 6px 0 #656565;
    margin: 5px 0;
}

.cell.empty {
    border-color: grey;
}

.disc {
    height: 40px;
    width: 40px;
    border: 1px solid;
    box-sizing: border-box;
}

.disc.yellow {
    background-color: yellow;
}

.disc.red {
    background-color: red;
}

.clearfix {
    clear: both;
}
