<style>
    #board {
        background-color: blue;
        padding: 10px;
    }

    #board.disabled {
        opacity: 0.2;
    }

    .column {
        display: inline-block;
        box-sizing: border-box;
        width: 40px;
        margin: 2px;
    }

    .cell {
        height: 40px;
        width: 40px;
        border: 1px solid;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: white;
        box-shadow: inset 4px 1px 6px 0 #656565;
        margin: 5px 0;
    }

    .cell.empty {
        border-color: grey;
    }

    .disc {
        height: 40px;
        width: 40px;
        border: 1px solid;
        box-sizing: border-box;
    }

    .disc.yellow {
        background-color: yellow;
    }

    .disc.red {
        background-color: red;
    }

    .clearfix {
        clear: both;
    }

</style>

<div id="board" class="{{ disabled|default(false) ? 'disabled' : '' }}">
    {% for column in game.getBoard().getCells() %}
        <div class="column">
            {% for disc in column | reverse %}
                {% if disc %}
                    <div class="cell disc {{ game.getPlayerColor(disc.getPlayer()) }}"></div>
                {% else %}
                    <div class="cell empty"></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    <div class="clearfix"></div>
</div>
